body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    width: 350px;
    border: 1px solid beige;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    background-color: beige;
  }
  
  .card-header {
    background-color: #6b8e60;
    padding: 20px;
    text-align: center;
  }
  
  .card-header .text-header {
    margin: 0;
    font-size: 20px;
    color: beige;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #6b8e60;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group input[type="time"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid beige;
    border-radius: 4px;
  }
  
  .btn {
    padding: 12px 24px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color:  #6b8e60;
    color: beige;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #6b8e60;
  }