* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header{
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    padding: 20px;
}
h2{
    font-family: 'Manrope', sans-serif;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
h3{
    font-family: 'Manrope', sans-serif;
    color: aliceblue;
    text-align: center;
    padding: 10px;
   font-style: italic;
}
div{
    background-color: #555;
    height: 60px;
    display: flex;
    align-items: center;
}
.espace{
    padding: 40px;
}

a{
    color:  #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
}
body{
    background-color:rgb(73, 189, 125);
    line-height: 1.5;
}
input{
    width: 300px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}
button{
    width: 100px;
    height: 40px;
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 10px 10px 10px 10px;
}
span{
    padding: 60px ;
    color:bisque;  
}
p{
    margin: 30px;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    position: absolute;bottom: 0%;
}
img{
    padding: 10px;
    margin-left: 195px;  
} 
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
body{
    background-image: url(2-3);
}

#container{
    width: 400px;
    margin:0 auto;
    margin-top: 10%;
}
form{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
}
